<div class="flex justify-center w-full fixed bottom-0 bg-white text-gray-900">
    <div class="bg-white columns-3 w-full divide-x rounded-sm shadow-sm">
        <div class="p-3 items-center justify-center">
            <a href="#home" class="text-gray-900 hover:text-indigo-500 flex flex-col items-center justify-center">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-6 w-6"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                >
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7m-9 14V9m4 0v14M9 21h6" />
                </svg>
                <span class="text-xs mt-1">Accueil</span>
            </a>
        </div>
        <div class="p-3 items-center justify-center">
            <a href="#search" class="text-gray-900 hover:text-indigo-500 flex flex-col items-center justify-center">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-6 w-6"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                >
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 10-14 0 7 7 0 0014 0z" />
                </svg>
                <span class="text-xs mt-1">Rechercher</span>
            </a>
        </div>
        <div class="p-3 items-center justify-center">
            <a href="#profile" class="text-gray-900 hover:text-indigo-500 flex flex-col items-center justify-center">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-6 w-6"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                >
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A12.053 12.053 0 0112 15c2.137 0 4.113.529 5.879 1.463m-5.879-7.462a4 4 0 110-8 4 4 0 010 8zm9 4a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <span class="text-xs mt-1">Profil</span>
            </a>
        </div>
    </div>
</div>
